h1{
    text-align: center;
    font-weight: bold;
    font-family: serif,sans-serif;
    font-size: xx-large;
}

.new{
    margin-top: 10px;
    margin-bottom: 15px;
}

/* div{
    background-color: #222831;
} */
